[bintray-rabbitmq-rpm]
name=bintray-rabbitmq-rpm
baseurl=https://dl.bintray.com/rabbitmq/rpm/rabbitmq-server/v{{ rabbitmq_major_version }}.{{ rabbitmq_minor_version }}.x/el/7/
gpgcheck=0
repo_gpgcheck=0
enabled=1

[bintray-earlang-rpm]
name=bintray-rabbitmq-rpm
baseurl=https://dl.bintray.com/rabbitmq/rpm/erlang/20/el/7/
gpgcheck=0
repo_gpgcheck=0
enabled=1
